---
---

<footer class="site-footer">
  <hr class="site-rule" />
  <p><a href="/">Back home</a></p>
  <p>
    This site is built using <a href="https://observablehq.com">Observable HQ</a> and
    <a href="https://astro.build">Astro</a>. Source code
    <a href="https://github.com/RobinL/robinl.github.io/">here</a>.
    <a href="/thanks/">Say thanks!</a>
  </p>
</footer>
