.header {
  background-color: white;
  margin-bottom: 0em;
}

.robin {
    font-weight: bold;
    color: black
}

.robin a {
    font-weight: bold;
    color: black
}

.black_link {
  color: black
}

nav ul {

  list-style: none;
  display: flex;
  margin-bottom: 0;


}

li {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar {
  display: flex;
}

.middlespace {
  margin-left: auto;
  margin-right: auto
}

