.header {
  background-color: rgb(133, 133, 133);
  margin-bottom: 0em;
}

.robin {
    font-weight: bold
}

ul {
  padding: 0;
  list-style: none;
  display: flex;

}

li {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
}

.navbar {
  display: flex;
}

.middlespace {
  margin-left: auto;
  margin-right: auto
}